body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 10px;
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.text-link {
  color: rgb(77, 77, 223);
  text-decoration: underline;
}

.unanswered-question {
  background-color: #ccf;
  text-align: center;
}

.answered-question {
  background-color: #cfc;
  text-align: center;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question-info {
  border: 1px solid #252525;
  padding-left: 20px;
}

.author-time-date {
  font-size: 11px;
}

.new-question {

}

.answer-question {
  border: 1px solid #252525;
  padding-left: 20px;
}
